.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    gap: 0.4rem;
    padding: 0.8rem;
    background: var(--color-two-light);
}

.rodape__titulo {
    font-size: 1.5rem;
    font-weight: 500;
}

.rodape__paragrafo {
    font-size: 1.25rem;
    font-weight: 300;
}

@media screen and (min-width: 1024px) {
    
    .rodape {
        padding: 1.25rem 5rem;
    }

}